.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.header{
    grid-column-start: 1 ;
    grid-column-end: 7 ;
    grid-row-start:1;
    grid-row-end: 2;
}

.heading{
    grid-column-start: 1;
    grid-column-end: 7 ;
    grid-row-start: 3;
    grid-row-end:4 ;
}

.background1{
    grid-column-start: 1;
    grid-column-end: 4 ;
    grid-row-start: 4;
    grid-row-end:5 ;
}

.content1{
    grid-column-start: 1;
    grid-column-end: 4 ;
    grid-row-start: 4;
    grid-row-end:5 ;
}

.background2{
    grid-column-start: 4;
    grid-column-end: 7 ;
    grid-row-start: 4;
    grid-row-end:5 ;
}

.content2{
    grid-column-start: 4;
    grid-column-end: 7 ;
    grid-row-start: 4;
    grid-row-end:5 ;
}

.background3{
    grid-column-start: 1;
    grid-column-end: 4 ;
    grid-row-start: 5;
    grid-row-end: 6 ;
}

.content3{
    grid-column-start: 1;
    grid-column-end: 4 ;
    grid-row-start: 5;
    grid-row-end: 6 ;
}

.background4{
    grid-column-start: 4;
    grid-column-end: 7 ;
    grid-row-start: 5;
    grid-row-end: 6 ;
}

.content4{
    grid-column-start: 1;
    grid-column-end: 4 ;
    grid-row-start: 5;
    grid-row-end: 6 ;
}

.background5{
    grid-column-start: 1;
    grid-column-end: 4 ;
    grid-row-start: 6;
    grid-row-end: 7 ;
}

.content5{
    grid-column-start: 1;
    grid-column-end: 4 ;
    grid-row-start: 6;
    grid-row-end: 7 ;
}

.background6{
    grid-column-start: 4;
    grid-column-end: 7 ;
    grid-row-start: 6;
    grid-row-end: 7 ;
}

.content6{
    grid-column-start: 4;
    grid-column-end: 7 ;
    grid-row-start: 6;
    grid-row-end: 7 ;
}

.footer{
    grid-column-start: 1;
    grid-column-end:7 ;
    grid-row-start: 7;
    grid-row-end: 8;
}

body{
    background-color: #F8F5EB;
}

.logo{
    width: 200px;
    margin: 20px;
    float: left;
}

.navbar{
    float: right;

}

.navbar a{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4A4632;
    font-size: 1.3rem;
    text-decoration: none;
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
}

h1{
    font-family: "Rantera";
    color: white;
    font-size: 4rem;
    background-color: #A8A191;
    text-align: center;
    padding: 50px;
    margin-top: -0.1%;
}

h2{
    font-family: "Rantera";
    color: white;
    font-size: 35px;
    background-color: #A8A191;
    text-align: center;
    padding: 50px;
    margin-top: -6%;
}

.heading p{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 1.3rem;
    background-color: #A8A191;
    text-align: center;
    margin-top: -4%;
    padding: 50px;
}

.background1{
    border-radius: 7px;
    width: 450px;
    background-color: #A8A191;
    height: 600px;
    margin-left: 280px;
    margin-top: 100px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.19)
}

.background1:hover{
    transform: scale(1.1);
}

.background2{
    border-radius: 7px;
    width: 450px;
    background-color: #A8A191;
    height: 600px;
    margin-top: -600px;
    margin-right: 280px;
    float: right;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.19)
}

.background2:hover{
    transform: scale(1.1);
}

.background3{
    border-radius: 7px;
    width: 450px;
    background-color: #A8A191;
    height: 600px;
    margin-top: 5%;
    margin-right: 280px;
    float: right;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.19)
}
.background3:hover{
    transform: scale(1.1);
}

.background4{
    border-radius: 7px;
    width: 450px;
    background-color: #A8A191;
    height: 600px;
    margin-top: 5%;
    margin-right: 280px;
    float: right;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.19)
}

.background4:hover{
    transform: scale(1.1);
}

.background5{
    border-radius: 7px;
    width: 450px;
    background-color: #A8A191;
    height: 600px;
    margin-top: 5%;
    margin-right: 280px;
    float: right;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.19)
}

.background5:hover{
    transform: scale(1.1);
}


.background6{
    border-radius: 7px;
    width: 450px;
    background-color: #A8A191;
    height: 600px;
    margin-top: 5%;
    margin-right: 280px;
    float: right;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.19)
}

.background6:hover{
    transform: scale(1.1);
}

.color{
    height: 350px;
    width: auto;
    border-radius: 5px;
    margin-top: 8%;
    margin-left: 6%;

}

.color img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all 1s ease;
}
    
.color img:hover{
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
}

p {
    font-family: "Rantera";
    color: white;
    font-size: 35px;
    text-align: center;
    margin-top: 25%;
}

hr {
    border:none;
    height: 20px;
    width: 100%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid #4A4632;
    box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 10px; 
  }

h3{
    color: #4A4632;
    font-family: "Rantera";
    font-size: 35px;
    text-align: center;
    margin-top: -1%;
    padding: 50px;
}

.contactinfo{
    width: 50px;
    padding: 20px;   
}

.contact{
    margin-left: 42.5%;
    margin-top: -20px;
}

.footer p{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4A4632;
    font-size: 1rem;
    margin-top: 20px;
}